* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: #d39165;
    color: #46041b;
    font-size: 20px;
    justify-content: center;
}
.navbar li{
    padding: 20px;
}